html {
	/* Scrollbar always on. This avoids the horizontal
	 * shift when moving from a page that needs
	 * scrolling to a page that doesn't.*/
	overflow-y: scroll;
}

body {
	font-family: 'Courier Prime';
	font-size: 1rem;
	margin: 10px;
}

main#mainlang {
	font-size: x-large;
	text-align: center;
}

main#mainlang ul {
	list-style-type: none;
	padding: 0px;
}

div#maintitle {
	font-family: 'Lily Script One';
	font-size: xx-large;
	margin-top: 20%;
	text-align: center;
}
