body {
    font-family: 'Average Sans', Helvetica, Arial, sans-serif;
    /*font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-family: 'Inder', Helvetica, Arial, sans-serif;*/
}
