body {
	font-family: 'Average Sans', Helvetica, Arial, sans-serif;
	/*font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-family: 'Inder', Helvetica, Arial, sans-serif;*/
	margin: 10px;
}

main {
	padding: 5px;
}

nav#mainmenu ul {
	background-color: #000;
	list-style-type: none;
	margin: 10px 0px;
	overflow: hidden; /*rm spaces between li*/
	padding: 0;
}

nav#mainmenu li {
	display: inline;
	float: left; /*rm spaces between li*/
	margin: 0px;
	padding: 0px 5px;
}

nav#mainmenu a {
	color: #fff;
}

nav#mainmenu li#current {
	background-color: #fff;
}

nav#mainmenu li#current a {
	color: #000;
}

nav#mainmenu li:hover {
	background-color: #edd400;
}
