body {
	font-family: 'Courier Prime';
	margin: 10px;
}

main {
	padding: 5px;
}

div#title {
	font-family: 'Lily Script One';
	font-size: x-large;
	text-align: center;
}
div#title a {
	color: black;
	text-decoration: none;
}

nav#mainmenu {
	background-color: #000;
	text-align: center;
}

nav#mainmenu ul {
	/* Treat the list as a single block so
	 * it can be centered inside nav.text.*/
	display: inline-block;
	list-style-type: none;
	margin: 10px 0px;
	/*rm spaces between li*/
	overflow: hidden;
	padding: 0;
}

nav#mainmenu li {
	display: inline;
	/*rm spaces between li*/
	float: left;
	margin: 0px;
	padding: 0px 5px;
}

nav#mainmenu a {
	color: #fff;
	text-decoration: none;
}

nav#mainmenu li#current {
	background-color: #fff;
}

nav#mainmenu li#current a {
	color: #000;
}

nav#mainmenu li:hover {
	background-color: #edd400;
}
