{% comment %}
Creates links to switch languages.
{% endcomment %}

{% comment %}
Using site.pages because all pages in the menu
should be under /es or /en.
{% endcomment %}
{% assign translations = site.pages | where:"ref", page.ref | sort: 'lang' %}

{% comment %} Current page has no translation. {% endcomment %}
{% if translations.size == 1 %}
    {{ site.data.trans.notrans[page.lang] }}
{% else %}
    {% assign msgs = site.data.trans %}

    {% for t in translations %}
        {% if t.lang == page.lang %}
<span class="current">{{ t.lang | capitalize }}</span>
        {% else %}
<a href="{{ site.base-url }}{{ t.url }}" title="{{ msgs.link-title[t.lang] }}">{{ t.lang | capitalize }}</a>
        {% endif %}
    {% endfor %}
{% endif %}
