<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<!--
	 The above 2 meta tags *must* come first in the <head>
	 to consistently ensure proper document rendering.
	 Any other head element should come *after* these tags.
	-->
	<meta name="robots" content="index, follow, noarchive">
	<title>____ Chumo Mata :: {{ page.title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Courier+Prime" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<header>

<div id="title">
<!--a {% if page.lang == "eng" %} href="/en/" title="Home" {% elsif page.lang == "esp" %} href="/es/" title="Inicio" {% endif %}>____ Chumo Mata</a-->
{% if page.lang == "eng" %}
	<a href="/en/" title="Home">____ Chumo Mata</a>
{% elsif page.lang == "esp" %}
	<a href="/es/" title="Inicio">____ Chumo Mata</a>
{% endif %}
</div>

{% include switch-lang.html %}

{% include nav.html %}
</header>

<main>
{{ content }}
</main>

</body>

</html>
