<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/>
	<title>? Chumo Mata</title>
	<link href='https://fonts.googleapis.com/css?family=Courier+Prime' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

<div id="title"><a href="/en/" title="Home page">? Chumo Mata</a></div>
{% if page.url == "/en/" %}
<div id="lang"><a href="/es/" title="Spanish home page">Esp</a> / Eng</div>
{% else %}
<div id="lang"><a href="/es/bio.html" title="Bio in Spanish">Esp</a> / Eng</div>
{% endif %}

{% include nav-en.html %}

<main>
{{ content }}
</main>

</body>

</html>
