<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<!--
	 The above 2 meta tags *must* come first in the <head>
	 to consistently ensure proper document rendering.
	 Any other head element should come *after* these tags.
	-->
	<title>? Chumo Mata</title>
	<link href='https://fonts.googleapis.com/css?family=Courier+Prime' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

{% if page.lang == "eng" %}
<div id="title"><a href="/en/" title="Home page">? Chumo Mata</a></div>
{% elsif page.lang == "esp" %}
<div id="title"><a href="/es/" title="Página de inicio">? Chumo Mata</a></div>
{% endif %}

{% include switch-lang.html %}

{% include nav.html %}

{{ content }}

</body>

</html>
