<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/>
	<title>? Chumo Mata</title>
	<link href='https://fonts.googleapis.com/css?family=Courier+Prime' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

<div id="title"><a href="/es/" title="Página de inicio">? Chumo Mata</a></div>
{% if page.url == "/es/" %}
<div id="lang">Esp / <a href="/en/" title="Página de inicio en inglés">Eng</a></div>
{% else %}
<div id="lang">Esp / <a href="/en/bio.html" title="Bio en inglés">Eng</a></div>
{% endif %}

{% include nav-es.html %}

<main>
{{ content }}
</main>

</body>

</html>
